@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  font-family: sans-serif;
}

body {
  background-color: black;
  font-family: sans-serif;
  color: #354358;
}

.stage {
  margin-top: -60%;
}

@media (max-width: 600px) {
  .stage {
    margin-top: 10%;
  }
}

.competences {
  margin-left: 20%;
}
